:root {
  --black: #121212;
  --dark-grey: #212121;
  --dark-grey-transparent: rgb(33, 33, 33, 0.4);
  --white: #f0f4f8;
  --pale-gold: #e6be8a;
  --pale-gold-tranparent: rgb(230, 190, 138, 0.5);
}

@font-face {
  font-family: "Futura";
  src: url("./futura-pt-cufonfonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura_bold";
  src: url("./futura-pt-cufonfonts/FuturaCyrillicBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Futura", system-ui, "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

body {
  min-height: 100vh;
  background: url("./images/sushi_background.jpeg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  gap: 1.5rem;
  background-color: var(--pale-gold-tranparent);
  font-size: 1.5rem;
}

.name_logo {
  display: flex;
  align-items: center;
}

.name_logo img {
  height: 6rem;
}

.header_name {
  font-family: "Futura_bold";
  font-size: 2rem;
}

.navigator {
  display: flex;
  gap: 2rem;
}

#content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 3rem;
  background-color: var(--dark-grey-transparent);
}

.home_content {
  font-size: 3rem;
  white-space: pre-wrap;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--pale-gold-tranparent);
  font-size: 1rem;
}
